<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>universe</title>
  <style>
    body {
      width: 100vw;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      background: url("http://qiniuyun.code520.com.cn/images/20211120141809.png");
    }

  </style>
</head>

<body>
  <iframe src="http://doc.code520.com.cn" width="100%" height="100%" scrolling="yes" />
</body>

</html>
